In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Raudeberg,61.9875,5.1352,45.00,78,77,28.34,NO,2021-03-29 18:17:05
1,1,Shyryayeve,47.3805,30.1964,42.13,90,90,5.61,UA,2021-03-29 18:17:05
2,2,Kodiak,57.7900,-152.4072,39.22,84,100,7.20,US,2021-03-29 18:17:06
3,3,Port Alfred,-33.5906,26.8910,68.99,84,78,24.47,ZA,2021-03-29 18:17:06
4,4,Kapaa,22.0752,-159.3190,73.99,78,90,17.27,US,2021-03-29 18:12:33

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,7,Bengkulu,-3.8004,102.2655,76.39,89,100,2.98,ID,2021-03-29 18:17:07
10,10,San Vicente De Canete,-13.0751,-76.3835,76.12,69,94,7.81,PE,2021-03-29 18:17:07
13,13,Cidreira,-30.1811,-50.2056,78.28,50,39,9.95,BR,2021-03-29 18:17:08
15,15,Alofi,-19.0595,-169.9187,77.00,100,9,4.61,NU,2021-03-29 18:15:15
16,16,Hithadhoo,-0.6000,73.0833,83.82,74,100,24.85,MV,2021-03-29 18:17:09
21,21,Ipixuna,-1.7625,-48.8043,78.80,89,40,1.14,BR,2021-03-29 18:17:10
22,22,Rapar,23.5667,70.6333,80.02,52,64,13.96,IN,2021-03-29 18:17:10
29,29,Georgetown,5.4112,100.3354,82.99,89,20,3.44,MY,2021-03-29 18:16:32
34,34,Buluang,13.3068,123.3425,75.02,93,100,2.95,PH,2021-03-29 18:17:12
39,39,Saint-Philippe,-21.3585,55.7679,78.80,78,75,4.61,RE,2021-03-29 18:14:44

In [12]:
preferred_cities_df.count()

City_ID       179
City          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
Country       178
Date          179
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
7                Bengkulu      ID     76.39  -3.8004  102.2655
10  San Vicente De Canete      PE     76.12 -13.0751  -76.3835
13               Cidreira      BR     78.28 -30.1811  -50.2056
15                  Alofi      NU     77.00 -19.0595 -169.9187
16              Hithadhoo      MV     83.82  -0.6000   73.0833
21                Ipixuna      BR     78.80  -1.7625  -48.8043
22                  Rapar      IN     80.02  23.5667   70.6333
29             Georgetown      MY     82.99   5.4112  100.3354
34                Buluang      PH     75.02  13.3068  123.3425
39         Saint-Philippe      RE     78.80 -21.3585   55.7679

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
 # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Bengkulu,ID,76.39,-3.8004,102.2655,Grage Hotel Bengkulu
10,San Vicente De Canete,PE,76.12,-13.0751,-76.3835,Hotel Konford
13,Cidreira,BR,78.28,-30.1811,-50.2056,Hotel Castelo
15,Alofi,NU,77.00,-19.0595,-169.9187,Taloa Heights
16,Hithadhoo,MV,83.82,-0.6000,73.0833,Scoop Guest House
21,Ipixuna,BR,78.80,-1.7625,-48.8043,Casa da Oscarina
22,Rapar,IN,80.02,23.5667,70.6333,Dharamshi Bapa’s Home
29,Georgetown,MY,82.99,5.4112,100.3354,Cititel Penang
34,Buluang,PH,75.02,13.3068,123.3425,Enon Beach Resort
39,Saint-Philippe,RE,78.80,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))