## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:\\Users\\pyrat\\OneDrive\\Desktop\\Data Analytics\\Classwork (Modules)\\Module 6\\World_Weather_Analysis\\Weather_Database\\WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sibolga,ID,1.7427,98.7792,76.19,90,100,5.10,overcast clouds
1,1,Bandarbeyla,SO,9.4942,50.8122,80.24,56,65,1.88,broken clouds
2,2,Lasa,IT,46.6166,10.7002,45.00,86,0,8.05,clear sky
3,3,Amapa,BR,1.0000,-52.0000,71.20,99,100,2.08,very heavy rain
4,4,Rikitea,PF,-23.1203,-134.9692,79.14,66,7,16.49,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sibolga,ID,1.7427,98.7792,76.19,90,100,5.10,overcast clouds
1,1,Bandarbeyla,SO,9.4942,50.8122,80.24,56,65,1.88,broken clouds
3,3,Amapa,BR,1.0000,-52.0000,71.20,99,100,2.08,very heavy rain
4,4,Rikitea,PF,-23.1203,-134.9692,79.14,66,7,16.49,clear sky
5,5,Hays,US,30.0502,-98.0336,72.00,97,99,1.99,overcast clouds
11,11,Itarema,BR,-2.9248,-39.9167,75.52,90,80,5.95,very heavy rain
12,12,Tura,IN,25.5198,90.2201,84.69,54,55,7.18,broken clouds
13,13,Mahebourg,MU,-20.4081,57.7000,78.80,89,20,1.14,few clouds
14,14,Faanui,PF,-16.4833,-151.7500,82.02,69,100,5.61,overcast clouds
16,16,Tessalit,ML,20.1986,1.0114,69.60,9,74,12.77,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                254
City                   254
Country                254
Lat                    254
Lng                    254
Max Temp               254
Humidity               254
Cloudiness             254
Wind Speed             254
Current Description    254
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sibolga,ID,1.7427,98.7792,76.19,90,100,5.10,overcast clouds
1,1,Bandarbeyla,SO,9.4942,50.8122,80.24,56,65,1.88,broken clouds
3,3,Amapa,BR,1.0000,-52.0000,71.20,99,100,2.08,very heavy rain
4,4,Rikitea,PF,-23.1203,-134.9692,79.14,66,7,16.49,clear sky
5,5,Hays,US,30.0502,-98.0336,72.00,97,99,1.99,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
661,661,Hualmay,PE,-11.0964,-77.6139,68.95,86,94,6.08,overcast clouds
664,664,Umm Kaddadah,SD,13.6017,26.6876,65.79,16,42,15.64,scattered clouds
671,671,Tokonou,GN,9.6500,-9.7833,74.17,71,73,5.30,broken clouds
674,674,Isangel,VU,-19.5500,169.2667,82.40,89,90,9.22,overcast clouds
679,679,Aguai,BR,-22.0594,-46.9786,65.17,92,31,0.94,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sibolga,ID,76.19,overcast clouds,1.7427,98.7792,
1,Bandarbeyla,SO,80.24,broken clouds,9.4942,50.8122,
3,Amapa,BR,71.20,very heavy rain,1.0000,-52.0000,
4,Rikitea,PF,79.14,clear sky,-23.1203,-134.9692,
5,Hays,US,72.00,overcast clouds,30.0502,-98.0336,
11,Itarema,BR,75.52,very heavy rain,-2.9248,-39.9167,
12,Tura,IN,84.69,broken clouds,25.5198,90.2201,
13,Mahebourg,MU,78.80,few clouds,-20.4081,57.7000,
14,Faanui,PF,82.02,overcast clouds,-16.4833,-151.7500,
16,Tessalit,ML,69.60,broken clouds,20.1986,1.0114,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        pass

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df.dropna(subset = ["Hotel Name"], inplace = True)

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "C:\\Users\\pyrat\\OneDrive\\Desktop\\Data Analytics\\Classwork (Modules)\\Module 6\\World_Weather_Analysis\\Vacation_Search\\WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))